[build]
  # On sert directement le dossier racine (index.html, style.css, app.js, etc.)
  publish = "."
  command = ""

# (Optionnel) Si plus tard tu transformes ça en SPA,
# tu pourras décommenter ce bloc pour rediriger toutes les routes vers index.html
# [[redirects]]
#   from = "/*"
#   to = "/index.html"
#   status = 200
