[build]
  publish = "./"
  command = ""

# Redirection propre (corrige les erreurs 404 sur Netlify)
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

# Force le bon type MIME pour CSS et JS
[[headers]]
  for = "*.css"
  [headers.values]
    Content-Type = "text/css"

[[headers]]
  for = "*.js"
  [headers.values]
    Content-Type = "application/javascript"
